.card {
  grid-column: span 2;
  background-color: #fff;
  border: 1px solid var(--color-background-hover);
  border-radius: 15px;
  padding-inline: 0.5rem;
  padding-block: 1rem;
}
.card-image {
  border-radius: 15px;
}
.card-info {
  padding-block: 14px;
  align-items: center;
}
.card-title {
  font-weight: 500;
  font-size: 1rem;
}
.card-description {
  font-family: "Open Sans";
  font-size: 0.8rem;
  margin-bottom: 0;
}
.card-price {
  font-weight: 600;
  font-size: 1.1rem;
}
.card-button {
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 12px;
  border-width: 2px;
  max-width: fit-content;
  padding-inline: 10px;
  padding-block: 5px;
}
