.confirmar-contrasenya {
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.397);
}
.confirmar-contrasenya form {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.btn-password {
  width: auto;
}
