.btn-login {
  width: 50%;
}

.login-options {
  font-size: 12px;
}

.log-in-register-text {
  color: var(--color-primary-dark);
  text-decoration: underline;
}

.log-in-register-text:hover {
  color: var(--color-primary-dark);
  text-decoration: underline;
}

.general-error-register {
  color: var(--color-red);
  font-size: 18px;
  margin-top: 10px;
}

.form-errors-register {
  color: var(--color-red);
  font-size: 13px;
  margin-top: 5px;
}

/* .signin-form, */
/* .login-wrap {
  width: 40vw;
}
 */

@media (min-width: 1024px) {
  .log-in-register-text:hover {
    color: var(--color-border);
    text-decoration: underline;
  }
}
