.table thead th.admin-product-col {
  text-align: left;
}
.icon-img,
.icon-edit {
  color: var(--color-primary-dark);
  cursor: pointer;
}
.mostrar-imagen {
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.397);
  font-size: 30px;
}
.mostrar-imagen .image {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
}
.admin-searcher-input {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  width: 60%;
  background-color: #f0f0f0;
  border-radius: 5px;
}
