.header-section {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.product-img {
  width: 100px;
  min-height: 100px;
}

.icon-counter {
  color: var(--color-primary-dark);
  cursor: pointer;
  font-size: 14px;
}

.number input {
  height: 26px;
  width: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-inline: 5px;
}

.table td {
  vertical-align: middle !important;
  border-bottom: 1px solid #dee2e6;
  border-top: none;
}

.table thead th {
  border-top: none;
}

.table th,
.table td {
  text-align: center;
}

td.product-item,
th.product-col {
  text-align: left;
}

.total {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--color-primary);
  font-weight: 900;
  font-size: 20px;
}

.order-button {
  margin-top: 30px;
}

.order-button button {
  margin-top: 22px;
}

.btn-order {
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  .order-button {
    display: flex;
    justify-content: flex-end;
  }
  .btn-order {
    width: 30%;
    display: block;
  }
}

@media (min-width: 1024px) {
  .icon-counter {
    font-size: 18px;
  }

  .number input {
    height: 26px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-inline: 5px;
  }
  .btn-order {
    width: 20%;
    display: block;
  }
}
