.searcher {
  font-size: 0.8rem;
}

/* CSS TRANSITION */

.close-form {
  overflow: hidden;
  height: 0;
}
.open-form {
  overflow: visible;
  height: auto;
}
.searcher-form-enter {
  opacity: 0;
  transform: scale(0.9);
}
.searcher-form-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.searcher-form-exit {
  opacity: 1;
  transform: translateX(0);
}
.searcher-form-exit-active {
  opacity: 0;
  height: auto;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.searcher-input {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: #f0f0f0;
  border-radius: 5px;
}
.searcher-button {
  height: fit-content;
  font-weight: bold;
  font-size: 0.9rem;
  max-width: fit-content;
  margin-top: 10px;
}
.hamburguer-button {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 0;
}
.hamburguer-button.btn:focus,
.hamburguer-button.btn:focus-visible {
  box-shadow: none;
}
@media screen and (min-width: 576px) {
  .searcher-button {
    margin-top: 0;
    margin-left: 10px;
  }
  .hamburguer-button {
    display: none;
  }
  .close-form,
  .open-form {
    overflow: visible;
    height: auto;
  }
}
