header {
  background-color: var(--color-white);
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}

.btn-secondary {
  background-color: var(--color-white);
  color: var(--color-text);
  border: none;
}

.btn-secondary:hover {
  background-color: var(--color-background-hover);
  color: var(--color-text);
}

.navbar-light {
  padding-top: 20px;
}

/* TOP NAVBAR */

.top-navbar a {
  font-size: 12px;
  color: var(--color-primary-dark);
}

/* SEARCH BAR CSS */

.input-search {
  display: none;
}

.form-search-mobile {
  background-color: var(--color-white);
  border: 1px solid var(--color-background-hover);
  border-radius: 12px;
  width: 350px;
  font-size: 18px;
}

.form-search-mobile .form-control {
  background-color: transparent;
  border: none;
}

.form-search-mobile select.form-control {
  font-weight: bold;
  border-radius: 0px;
  border-right: 1px solid var(--color-background-hover);
}

.input-search .input-search-input,
.input-search input:focus {
  border-radius: 10px 0 0 10px;
}

/* CATEGOIRES NAV LIST */

.top-navbar {
  display: none;
}

.categories.nav-list {
  background-color: #c8deb3;
}

.dropdown-toggle:hover + .dropdown-menu {
  display: block;
}

.dropdown-menu {
  left: 170px;
}

.categories-nav-list {
  display: none;
}

.mobile-text-bar {
  height: 40px;
  font-size: 14px;
}

.mobile-text-bar p {
  margin: 0;
  padding-top: 8px;
}

.links-nav {
  margin-left: 20px;
  margin-top: 20px;
}

.links-nav .nav-item {
  margin-bottom: 10px;
}

.links-nav a {
  width: 92%;
  border-bottom: 1px solid var(--color-background-hover);
}

/* CATEGORIES LATERAL NAV LIST */

.bar-container {
  background-color: var(--color-primary);
  color: var(--color-text);
  height: 40px;
  max-width: 100vw;
}

.bar-container > p {
  margin: 0;
}

.item-name {
  color: var(--color-primary);
}

.item-list-title {
  font-size: 18px;
  font-weight: bold;
}

.item-list {
  font-size: 14px;
}

.icons-navbar {
  font-size: 18px;
  color: var(--color-text);
}

.icon-shopping-basket {
  font-size: 23px;
}
.logout-header {
  display: none;
}

/* BURGER MENU */

.navbar-toggler {
  border: none;
  color: var(--color-text);
}

.drop-down-link {
  color: var(--color-text);
}

.navbar-light .navbar.nav .navlink {
  color: var(--color-text);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-text);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-text);
}

.logout-hamburger-menu {
  text-decoration: underline;
}

.logout-hamburger-menu:hover {
  text-decoration: underline;
}

/* CSS TRANSITION */

.close-navbar {
  overflow: hidden;
  height: 0;
}
.open-navbar {
  overflow: visible;
  height: auto;
}
.navbar-enter {
  opacity: 0;
  transform: scale(0.9);
}
.navbar-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.navbar-exit {
  opacity: 1;
  transform: translateX(0);
}
.navbar-exit-active {
  opacity: 0;
  height: auto;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* LOGO */

.logo {
  width: 170px;
}

/* ICONS */

.input-search-mobile {
  margin-top: -25px;
  padding-block: 10px;
}

/* Numero Productes */

.numero-productes {
  background-color: var(--color-primary-dark);
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  position: relative;
  right: 5px;
  top: 10px;
}

/* Resultados Busquedas */

.search-results {
  position: absolute;
  top: 40px;
  width: 95%;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  background-color: #dfdfdfe3;
  overflow-y: scroll;
  z-index: 2;
}

.search-results::-webkit-scrollbar {
  width: 4px;
}

.search-results::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 100px;
}

@media (min-width: 320px) {
  .logo {
    width: 160px;
  }
  .icon-shopping-basket,
  .icon-user {
    margin-left: 6px;
  }
}

@media (min-width: 414px) {
  .mobile-text-bar {
    font-size: 16px;
  }
  .container-logo {
    text-align: left;
  }
  .icon-shopping-basket,
  .icon-user {
    margin-left: 10px;
  }
}

@media (min-width: 576px) {
  .logo {
    width: 170px;
  }
  .icon-shopping-basket,
  .icon-user {
    margin-left: 13px;
  }
}

@media (min-width: 768px) {
  .navbar-light {
    padding-block: 20px;
  }
  .icon-shopping-basket,
  .icon-user {
    margin-left: 15px;
  }
  .logout-header {
    display: block;
    color: var(--color-text);
    text-decoration: underline;
    font-size: 12px;
  }

  /* CSS TRANSITION */

  .close-navbar {
    overflow: hidden;
    height: 0;
  }
  .open-navbar {
    overflow: visible;
    height: auto;
  }

  .form-search {
    background-color: var(--color-white);
    border: 1px solid var(--color-background-hover);
    border-radius: 12px;
    width: 500px;
    font-size: 19px;
    display: none;
  }

  .form-search .form-control {
    background-color: transparent;
    border: none;
  }

  .form-search select.form-control {
    font-weight: bold;
    border-radius: 0px;
    border-right: 1px solid var(--color-background-hover);
  }
  .input-search-bar {
    flex: 1;
  }
  .input-search {
    display: flex;
  }
  .logo {
    width: 200px;
  }
  .links-nav,
  .avbar-toggler,
  .magnifier-icon,
  .mobile-text-bar,
  .hamburger-react,
  .navbar-toggler {
    display: none;
  }
  .categories-nav-list {
    display: flex;
  }
  .bar-container .actual {
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
  .top-navbar {
    display: flex;
    border-bottom: 1px solid rgb(165, 165, 165, 0.3);
  }
  .top-navbar a:hover {
    color: var(--color-border);
  }
  .logo {
    width: 250px;
  }
  .icons-navbar {
    font-size: 22px;
  }
  .icon-shopping-basket {
    font-size: 26px;
  }
  .icon-admin {
    font-size: 22px;
    margin-left: 15px;
  }
  .logout-header {
    font-size: 13px;
  }
}
