.btn-secondary {
  background-color: var(--color-white);
  color: var(--color-text);
  border: none;
}

.btn-secondary:hover {
  background-color: var(--color-background-hover);
  color: var(--color-text);
}

/* SEARCH BAR CSS */

.input-search {
  display: none;
}

/* CATEGOIRES NAV LIST */

.top-navbar {
  display: none;
}

.categories-nav-list {
  background-color: #c8deb3;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

/* CATEGORIES LATERAL NAV LIST */

.bar-container {
  background-color: var(--color-primary);
  color: var(--color-text);
  height: 40px;
}

.bar-container > p {
  margin: 0;
}

.item-name {
  color: var(--color-primary);
}

.item-list-title {
  font-size: 18px;
  font-weight: bold;
}

.item-list {
  font-size: 14px;
}

.icons-navbar {
  font-size: 18px;
  color: var(--color-text);
}

.icon-shopping-basket {
  font-size: 23px;
}

/* BURGER MENU */

.navbar-toggler {
  border: none;
  color: var(--color-text);
}
.navbar-toggler-icon {
  border: none;
  color: var(--color-text);
}

.drop-down-link {
  color: var(--color-text);
}

/* LOGO */

.logo {
  width: 170px;
}

@media (min-width: 768px) {
  .form-search {
    background-color: var(--color-white);
    border: 1px solid var(--color-background-hover);
    border-radius: 12px;
    width: 500px;
    font-size: 19px;
    display: none;
  }

  .form-search .form-control {
    background-color: transparent;
    border: none;
  }

  .form-search select.form-control {
    font-weight: bold;
    border-radius: 0px;
    border-right: 1px solid var(--color-background-hover);
  }
  .input-search-bar {
    flex: 1;
  }
  .input-search {
    display: flex;
  }
  .logo {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .mobile-text-bar {
    display: none;
  }
  .links-nav {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;
  }
  .top-navbar {
    display: flex;
    border-bottom: 1px solid rgb(165, 165, 165, 0.3);
  }
  .top-navbar a:hover {
    color: var(--color-border);
  }
  .logo {
    width: 300px;
  }
}
