.btn-secondary {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  border: none;
}

.btn-secondary:hover {
  background-color: var(--color-fondo-hover);
  color: #151515;
}

/* SEARCH BAR CSS */

.form-search {
  background-color: var(--color-blanco);
  border: 1px solid var(--color-fondo-hover);
  border-radius: 12px;
  width: 500px;
  font-size: 19px;
}

.form-search .form-control {
  background-color: transparent;
  border: none;
}

.form-search select.form-control {
  font-weight: bold;
  border-radius: 0px;
  border-right: 1px solid var(--color-fondo-hover);
}
.input-search-bar {
  flex: 1;
}

/* CATEGOIRES NAV LIST */

.categories-nav-list {
  background-color: #c8deb3;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

/* CATEGORIES LATERAL NAV LIST */

.item-name {
  color: var(--color-primario);
}

.item-list-title {
  font-size: 18px;
  font-weight: bold;
}

.item-list {
  font-size: 14px;
}
