:root {
  --color-primary: #c8deb3;
  --color-primary-dark: #6a983c;
  --color-border: #46760a;
  --color-text: #151515;
  --color-white: #f9f9f9;
  --color-background-hover: #d1d1d1;
}

body {
  font-family: "Poppins";
  color: var(--color-text);
}

a {
  color: var(--color-primary-dark);
  text-decoration: inherit;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* BUTTON MAIN STYLES */

.button {
  color: var(--color-blanco);
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  transition: all 300ms;
}

.button:hover {
  color: var(--color-blanco);
}

@media (min-width: 1024px) {
  .button:hover {
    color: var(--color-primary-dark);
    background-color: var(--color-blanco);
  }
}

/* SECTION GLOBAL CLASS */

section {
  padding-inline: 0.5rem;
  padding-block: 4rem;
}
