:root {
  --color-primary-light: #daebc9;
  --color-primary: #c8deb3;
  --color-primary-dark: #6a983c;
  --color-border: #46760a;
  --color-button: #8cbc5b;
  --color-button-border: #5d8a25;
  --color-text: #151515;
  --color-white: #f9f9f9;
  --color-background-white: #fff;
  --color-red: #af3c45;
  --color-background-hover: #d1d1d1;
  --color-grey: #484949;
  --color-blue: #006699;
}

/* MAIN STYLES */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  color: var(--color-text);
  background-color: var(--color-background-white);
}
a {
  color: var(--color-text);
  text-decoration: inherit;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
input {
  border-radius: 10px;
}
input:focus {
  border-radius: 10px;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(200 222 176/ 75%);
  border-color: transparent !important;
}

/* BUTTON MAIN STYLES */

.button {
  padding: 5px 10px;
  color: var(--color-white);
  background-color: var(--color-button);
  border: 1px solid var(--color-button-border);
  border-radius: 7px;
  transition: all 300ms;
}
.button:hover {
  color: var(--color-white);
}

/* SECTION GLOBAL CLASS */

.section {
  padding-block: 32px;
  min-height: 80vh;
}

/* ICONS */

.icon-delete {
  color: var(--color-border);
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .button:hover {
    color: var(--color-border);
    background-color: var(--color-white);
  }
  .icon-delete {
    font-size: 25px;
  }
}
