.homepage-element img {
  width: 100%;
  border-radius: 15px;
  position: relative;
  top: 0;
}

.homepage-element {
  width: 100%;
  height: 460px;
  border-radius: 15px;
  background-image: url("https://media.istockphoto.com/photos/masia-in-catalonia-spain-picture-id145154657?b=1&h=WaO9ejW95gG1fBP7Ak2m6qAosK3Zd9_u5dHCVs5GNG0%3D&k=6&m=145154657&s=612x612&w=0");
  background-size: cover;
}

.homepage-element-small {
  height: 220px;
  background-image: url("https://media.istockphoto.com/photos/masia-in-catalonia-spain-picture-id145154657?b=1&k=6&m=145154657&s=612x612&w=0&h=WaO9ejW95gG1fBP7Ak2m6qAosK3Zd9_u5dHCVs5GNG0=");
}

.homepage-element-activities {
  background-image: url("https://images.pexels.com/photos/3771836/pexels-photo-3771836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.homepage-element div {
  color: var(--color-white);
  width: 100%;
  height: 25%;
  font-size: 24px;
  padding: 20px;
  font-weight: bold;
  margin-bottom: 0;
  border-radius: 0 0 15px 15px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
